body{
    background: #444;
  }
  
  #container{
    margin: auto;
    text-align: center;
  }
  #logo-div{
    /* -webkit-animation:rotate-in 1s ease; */
  }
  
  #circle {
    fill: #A6CE39;
  }
  
  #shadow {
    /* fill: url(#grad3); */
    fill: #8CB02C;
    -webkit-animation:fade-in 3s ease;
  }
  
  #AJ {
    fill:#FFFFFF;
  }
  
  circle, #AJ{
    stroke: #999;
    stroke-width:0; 
    stroke-dasharray: 600;
    stroke-linecap: round;
    stroke-linejoin: square;
    -webkit-animation: grow 2s ease-in;
  }
  
  @-webkit-keyframes grow {
    0%{
      stroke-dashoffset: 600;
       fill-opacity:0; 
       stroke-width:1;
    }
    
    50%{
      stroke: #FFF; 
      stroke-dashoffset: 0;
        fill-opacity:0; 
        stroke-width:1.5; 
    }
    
    100%{
      stroke-dashoffset: 0;
          stroke-width:0;
         fill-opacity:1;
    }
  }
  
  @-webkit-keyframes fade-in {
    0%{fill-opacity:0;}
    50%{fill-opacity:0;}
    100%{fill-opacity:1;}
  }
  
  @-webkit-keyframes rotate-in {
    from{-webkit-transform: scale(2) rotate(-90deg)}
    to{-webkit-transform: scale(1) rotate(0deg)}
  }
  
  @-webkit-keyframes scale {
    from{-webkit-transform: scale(1.3)}
    to{-webkit-transform: scale(1))}
  }
  
  a{
    text-decoration: none;
  }
  
  h1{
    font-family: "Trebuchet MS";
  }
  
  .title{
    color: #A6CE39;
  }
  
  .title-2{
    color: #FFFFFF;
    font-weight: normal;
  }
  